body{
    background-color: rgb(180, 180, 180);

}

#mobile-frame{ 
    width: 414px;
    height: 896px;
    background-color: rgb(111, 111, 111);
    border: 8px solid black;
    border-radius: 40px;
}

#screen{
    position: relative;
    width: 394px;
    height: 876px;
    background-color: white;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#top-bar{
    background-color: rgb(111, 111, 111);
    position: relative;
    width: 200px;
    height: 40px;
    transform: translate(-50%, 0);
    left: 50%;
    top: -2px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}   
#speaker{
    position: relative;
    height: 10px;
    width: 100px;
    border: 3px solid black;
    border-radius: 50px;
    transform: translate(-50%, 0);
    left: 50%;
    top: 20%;
}

#header{
    position: relative;
    height: 100px;
    width: 100%;
    background-color: rgb(167, 167, 167);
}

#logo{
   position: relative;
   display: flex;
   height: 50px;
   width: 100px;
   border: 3px solid black;
   margin-left: 150px;
   transform: translate(0, -50%);
   top: 50%;
   align-items: center;
   justify-content: center;
   font-weight: bold;
}

#contact{
    position: relative;
    display: flex;
    transform: translate(0, -50%);
    top: 10%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: xx-large;
}

#first-name{
    position: relative;
    display: flex;
    transform: translate(0, -50%);
    top: 7%;
    justify-content: left;
    left: 18%;
    top: 18%;
}

#email{
    position: relative;
    display: flex;
    transform: translate(0, -50%);
    top: 7%;
    justify-content: left;
    left: 18%;
    top: 28%;
}

#inquire{
    position: relative;
    display: flex;
    transform: translate(0, -50%);
    top: 7%;
    justify-content: left;
    left: 18%;
    top: 38%;
}

svg{
    position: relative;
    display: flex;
    top: 7%;
    fill: rgb(238, 238, 238);
}

rect:hover{
    mix-blend-mode: multiply;
    fill: rgb(193, 193, 193);
}
